.gallerygrid{
    display: flex;
    justify-content: space-around;
    padding: auto;
}

.galleryimg {
    width: 15vw;
    height: 20vh;
    padding: 5vh 5vw;
}

@media only screen and (max-width: 600px) {
    .gallerygrid {
      flex-direction: column; /* Cambia la dirección de la flexión para apilar las imágenes en dispositivos móviles */
      align-items: center; /* Centra las imágenes horizontalmente */
    }
  
    .galleryimg {
      width: 40vw; /* Ajusta el ancho de la imagen al ancho de la pantalla en dispositivos móviles */
      height: 20vh; /* Ajusta la altura automáticamente para mantener la proporción */
      padding: 5vh 0; /* Reduce el espacio vertical entre las imágenes */
      margin-bottom: 20px; /* Agrega un margen inferior para separar las imágenes */
    }
  }