body {
    margin: 0;
}

img {
    height: auto;
    width: 100vw;
}

.gallery {
    flex-wrap: wrap; /* Permitimos que las imágenes se envuelvan cuando no haya suficiente espacio */
    justify-content: space-around; /* Distribuimos el espacio sobrante entre las imágenes */
  }
  
  .gallerygrid {
    display: grid;
    margin: 10px; /* Añadimos un pequeño margen entre cada imagen */
  }
  
  .bicyclesimg {
    max-width: 20vw;
  }
  
  button {
    border: none;
  }

  .editbutton {
    width: 5vw;
  }

  .deletebutton {
    width: 5vw;
  } 