body {
    margin: 0;
}

img {
    height: auto;
    width: 100vw;
}

.gallery {
    display: flex; /* Utilizamos flexbox para colocar las imágenes en línea */
    flex-wrap: wrap; /* Permitimos que las imágenes se envuelvan cuando no haya suficiente espacio */
    justify-content: space-around; /* Distribuimos el espacio sobrante entre las imágenes */
  }
  
  .gallerygrid {
    margin: 10px; /* Añadimos un pequeño margen entre cada imagen */
    text-align: center; /* Centramos el texto del modelo debajo de cada imagen */
  }
  
  .bicyclesimg {
    max-width: 200px; /* Limitamos el ancho máximo de cada imagen */
  }