.add-button {
    background-color: #3DE361;
    font-size: 1em;
    color: black;
    font-family: 'Jost', sans-serif;
    width: 15vw;
    height: 6vh;
    margin-right: 1vw;
    border-radius: 10px 10px 10px 10px;
}