body {
    margin: 0;
}

nav {
    background-color: #393939;
    height: 10vh;
    width: auto;
    color: white;
    font-family: 'Jost', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-left: 1vw;
}